body {
  margin: 0;

  font-family: 'Poppins', sans-serif;
background-color: rgb(247, 239, 222);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  margin-top: 20px;
}
  /* Centrar el logo */
